.search {
  background-color: #FBDB7C;
  margin-bottom: 30px;
  height: 130px;
  align-content: center;
}
.search form{
  margin: 30px;
}
.search form .btn{
  border: #357183;
  background-color:#357183;
}
